.shadowHeader{
  background-color: #0B132B;
}

.shadowTitle{
  color: #FFF;
}

.shadowPokemonSection{
  background-color: #0B132B;
}

.shadowPokemonModal{
  background-color: #0B132B;
  color: #FFF;
}